<nav>    
    <a routerLink="/" title="All Media">
      <img src="assets/04.png" class="icon" />
    </a>
    <a routerLink="/Movies" title="Movies">
      <img src="assets/03.png" class="icon" />
    </a>
    <a  routerLink="/Series" title="Series">
      <img src="assets/02.png" class="icon" />
    </a>
    <a routerLink="/add" title="Add New">
      <img src="assets/01.png" class="icon" />
    </a>  
</nav>
<section>
<header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
</header>
<router-outlet></router-outlet>
</section>